root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{php}]
charset = utf-8
trim_trailing_whitespace = true
indent_brace_style = K&R

[*.php]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[lib/**.php]
indent_style = space
indent_size = 2
